{
  "stage": 1,
  "whitelist": [
    "bluebirdCoroutines",
    "strict",
    "es6.arrowFunctions",
    "es6.classes",
    "es6.destructuring",
    "es6.modules",
    "es6.parameters.default",
    "es6.parameters.rest",
    "es6.spread",
    "es7.asyncFunctions",
    "es7.decorators"
  ],
  "modules": "common"
}
